#root {
  width: 100vw;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  color: #1c1c28;
  box-sizing: border-box;
  text-align: center;
  background-color: #f5fafd;
}



/* Home page */
.home-container {
  text-align: center;
}

.home-container h1 {
  font-size: 3rem;
}

.home-container p {
  font-size: 1.2rem;
}

/* Docs page */
.docs-container {
  padding-top: 20px;
}

.doc-item {
  margin: 20px 0;
}

.doc-item h3 {
  font-size: 1.5rem;
}

.doc-item p {
  font-size: 1rem;
}

/* Projects page */
.projects-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  margin-top: 20px;
}

/* About page */
.about-container {
  padding: 40px 20px;
}

.about-container ul {
  list-style-type: none;
  padding: 0;
}

.about-container li {
  font-size: 1.2rem;
}

/* Contact page */
.contact-container {
  padding-top: 20px;
}


/* Sidebar is fixed at 250px wide */
.content-wrapper {
  margin-left: 250px;
  padding-left: 2rem; 
  box-sizing: border-box;
}


/* On small screens, remove margin so content uses full width */
@media (max-width: 768px) {
  .content-wrapper {
  margin: 0;
  padding: 1rem;
  }
}
